[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.1"
beautifulsoup4 = "~=4.11"
requests = "~=2.28"
pgeocode = "~=0.4"
django-crispy-forms = "~=1.14"
lxml = "~=4.9"
django-countries = "~=7.5"

[dev-packages]
selenium = "~=4.7"

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
