{% extends "core/base.html" %}
{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>{{ planter }}</h2>
            <a href="{% url 'profile-edit' %}">Edit Profile</a>
            <p>Country: {{ planter.country }}</p>
            <p>Zip Code: {{ planter.zip }}</p>
        </div>
        <div class="col-md-4">
            <h2>Weather</h2>
            <p>Soil Temp: {{ soil }} &#8457;</p>
            <p>Forecast High: {{ high }} &#8457;</p>
            <p>Forecast Low: {{ low }} &#8457;</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <header>
                    <tr>
                        <th rowspan="2">Crop</th>
                        <th colspan="4">Temperature</th>
                        <!-- <th colspan="4">Plantable</th> -->
                    </tr>
                    <tr>
                        <th scope="col">Min</th>
                        <th scope="col">Best</th>
                        <th scope="col">Max</th>
                        <th scope="col">Margin</th>
                        <!-- <th scope="col">Chill</th>
                        <th scope="col">Cook</th>
                        <th scope="col">Soil</th>
                        <th scope="col">Score</th> -->
                    </tr>
                </header>
                <tbody>
                    {% for planting in plantings %}
                    {% if planting.plantable %}
                    <tr class="table-success">
                    {% else %}
                    <tr class="table-danger">
                    {% endif %}
                            <th scope="row">
                                <a href="{{ planting.crop.get_absolute_url }}">{{ planting.crop.name }}</a>
                            </th>
                            <td>{{ planting.crop.min_temp }}</td>
                            <td>{{ planting.crop.min_opt_temp }} - {{ planting.crop.max_opt_temp }}</td>
                            <td>{{ planting.crop.max_temp }}</td>
                            <td>{{ planting.plantable_score|floatformat:0 }}</td>
                            <!-- <td>{{ planting.chill|floatformat:2 }}</td>
                            <td>{{ planting.cook|floatformat:2 }}</td>
                            <td>{{ planting.soil|floatformat:2 }}</td>
                            <td>{{ planting.plantable_score|floatformat:2 }}</td> -->
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

    </div>
</main>



{% endblock content %}
