# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: A Time To Plant

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-20.04

  steps:
    - uses: actions/checkout@v3
  - name: Install dependencies
    run: |
      python -m pip install --upgrade pip
      pip install pipenv
      pipenv install
  - name: Test with pytest
    run: |
      pipenv run python manage.py test --pattern="*_tests.py" -v 1
