# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: A Time To Plant

on:
  push:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    environment: testing

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pipenv
        pipenv install
    - name: Test with django
      run: |
        pipenv run python at2p/manage.py test at2p_app --pattern="*_tests.py" -v 2
      env:
        DJANGO_DEBUG: ${{ vars.DJANGO_DEBUG }}
        WSGI_APPLICATION: ${{ vars.WSGI_APPLICATION }}
        SECRET_KEY: ${{ secrets.SECRET_KEY }}
        DB_NAME: ${{ vars.DB_NAME }}
        DB_ENGINE: ${{ vars.DB_ENGINE }}
        DB_USER: ${{ vars.DB_USER }}
        DB_PASSWORD: ${{ vars.DB_PASSWORD }}
        DB_PORT: ${{ vars.DB_PORT }}
        DB_HOST: ${{ vars.DB_HOST }}
